body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body *{
    font-weight: 600;
}

#root{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main{
    flex-grow: 1;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

header > div{
    display: flex; 
    justify-self: flex-start;
    align-self: center;
}

.logo{
    width: 3.5rem;
}

nav{
    display: flex;
    margin-top: 2rem;
    color: white;
    margin-right: 2rem;
}

nav h3:last-child{
    margin-left: 2rem;
}

footer{
    width: 100%;
    background-color: #2B252C;
    color: white;
    padding-top: 0.5rem;
}

.nav-footer{    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-footer a{
    margin-left: 4rem;
}

.f-principal {
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ul-footer{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #302A31;
    border-radius: 4rem;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.ul-footer li{
    margin: 2rem;
}

.hero{
    color: white;
}

.hero div:first-child {
    display: flex;
    justify-content: center;
    align-content: center;
}

.hero > div > h1{
    font-size: 4.5rem;
    text-align: center;
}
.hero p {
    font-size: 2rem;
    background-color: rgba(0,0,0,.540);
    border-radius: 1rem;
    text-align: center;
    padding: 0.4rem;
}

.circulo{
    width: 129px;
    height: 129px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #df7366; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.rem;
    cursor: pointer;
}
.circulo h6{
    font-size: 1.8rem;
}

.fondo-home{
   height: 100vh;
   width: 100%;
   background-position-y: top;
   background-position-x: center;
   background-size: cover;
   background-repeat:no-repeat ;
}

.t-car{
    text-align: center;
    font-weight: 800;
    font-size: 2.85rem;
    padding-top: 0.5rem;    
}

.imgC{
    width: 33%;
    height: 18rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    margin: 0.5rem;
}

.city{
    background-color: rgba(0,0,0,.562);
}

.black{
    background-color: black;
}

a{
    color: white !important;
    text-decoration: none !important;
}

.nada{
    margin: 0;
    padding: 0;
}

.menu{
    position: absolute;
    right: -2rem;
    top: -1.5rem;
    /* background-color: black; */
}

.C-igms{
    width: 32.7%;
    height: 20rem;
    margin: 0.2rem;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    background-position-x: center;
    background-position-y: center;
    transition: transform .2s;
}
.C-igms:hover {
    transform: scale(1.1); 
    /* position: relative;
    right: 0.99rem; */
}

.fondo-cities{
    height: 10rem;
    background-image: url('https://i.postimg.cc/pVKFZqrn/cities.jpg');
    background-position-y: center;
    background-position-X:center; 
    background-repeat:no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.fondo-cities h2{
    font-size: 4rem;
}

.fondo-city{ 
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 70%; 
}

.t-city{    
    color: black;
    font-size: 4.5rem;
    font-family: "Josefin Sans";
}

.contact{
    padding-left: 2rem;
}

@media (max-width: 460px) {

    .lo-cities{
        width: 2.3rem;
        margin-bottom: 1.3rem;
    }
    .tx-cities{
        font-size: 1.6rem
    }
    .nav-footer a{
        text-align: center;
        margin-left: 0;
    }
    .contact{
        padding-left: 0;
    }
    .t-city{
        font-size: 2rem;
    }
}


@media (max-width: 412px) {
    .hero p {
        font-size: 1.5rem;
    }

    .hero > div > h1{
        font-size: 2.5rem;
        text-align: center;
    }
    .logo{
        width: 3.5rem;
        margin-bottom: 1.3rem;
    }
    
    .C-igms{
        width: 47%;
        height: 10rem;
    }
    .C-igms h2{
        font-size: 1rem;
    }
}


