body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
#root{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main{
    flex-grow: 10;
}


header{
    padding-top: 0.2rem;
    display: flex;
    justify-content: space-between;
}

header > div{
    display: flex; 
    justify-self: flex-start;
    align-self: center;
}

.logo{
    width: 4rem;
}

nav{
    display: flex;
    margin-top: 2rem;
    color: white;
    margin-right: 2rem;
}

nav h3:last-child{
    margin-left: 2rem;
   
}

footer{
    width: 100%;
    background-color: #2B252C;
    color: white;
    padding-top: 0.5rem;
}

.nav-footer{    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.f-principal {
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ul-footer{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #302A31;
    border-radius: 4rem;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.ul-footer li{
    margin: 2rem;
}

.hero{
    color: white;
}

.hero div:first-child {
    display: flex;
    justify-content: center;
    align-content: center;
}

.hero > div > h1{
    font-size: 4.5rem;
    text-align: center;
    font-weight: 600;
}
.hero > hr{
    width: 25rem;
}

.hero p {
    font-size: 2.5rem;
    font-weight: 500;
    background-color: rgba(0,0,0,.540);
    border-radius: 1rem;
    text-align: center;
    padding: 0.2rem;
}

.circulo{
    width: 129px;
    height: 129px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #df7366; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.rem;
    cursor: pointer;
}
.circulo h6{
    font-size: 1.8rem;
}

h2{
    font-weight: 400;
    font-weight: 400;
	color: #483949;
	line-height: 1.25em;
    margin-bottom: 1rem;
}
.fondo-home{
   height: 100vh;
   width: 100%;
   background-position-y: top;
   background-position-x: center;
   background-size: cover;
   background-repeat:no-repeat ;
}

.t-car{
    text-align: center;
    font-weight: 800;
    font-size: 2.85rem;
    padding-top: 0.5rem;
}

.imgC{
    width: 28rem;
    height: 18rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    margin: 0.5rem;
}

.city{
    background-color: rgba(0,0,0,.562);
}

.black{
    background-color: black;
}

a{
    color: white;
}

.nada{
    margin: 0;
    padding: 0;
}

.menu{
    position: absolute;
    right: -2rem;
    top: -1.5rem;
}

@media (max-width: 412px) {
    .hero p {
        font-size: 1.5rem;
    }

    .hero > div > h1{
        font-size: 2.5rem;
        text-align: center;
        font-weight: 600;
    }
    .logo{
        width: 3.5rem;
        margin-bottom: 1.3rem;
    }
    

}

@media (max-width: 460px) {

    .lo-cities{
        width: 2.6rem;
        margin-bottom: 1.3rem;
    }
    .tx-cities{
        font-size: 1.6rem;
    }

}